dlib
face-recognition
numpy
Pillow
mtcnn
flask
opencv-python
imutils
scikit-learn
facenet-pytorch
torch
torchvision
pillow
pandas
omegaconf
deepface
deepface
onnxruntime
insightface
retina-face
ultralytics==8.3.50
faiss-cpu
PyJWT
dotenv