dlib
face-recognition
numpy
Pillow
mtcnn
flask
opencv-python
imutils
scikit-learn
facenet-pytorch
ultralytics
torch
torchvision
pillow
pandas
omegaconf
deepface
deepface
onnxruntime
insightface
retina-face